<h1>Wecome to Meditel!</h1>
<p>Meditel helps doctors and medical professionals in developing countries with diagnosis and treatment by providing key information on basic mobile phones.</p>

<p>{{copyright "2013"}}</p>
