<h1>Hello! </h1>

<p class="lead">You are viewing the phone/index template.</p>
<p>You can find this template at '<strong>/Users/duncan/Documents/dev/projects/hacks/HTH-BMJhack/Meditel/app/templates/phone/index.hbs</strong>'</p>

