<div class="row-fluid">
	<div class="span12">
		<div class="hero-unit">
		  <h2>About Meditel</h2>
			<p>Meditel consists of a 4 member team that evolved from the <a href="www.hackthehackathon.com">Hack the Hackathon</a> event in London, 2013. The project is an attempt to solve and/or address issues relating to health care in the developing world.</p>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
    <div class="page-header" style="text-align:center;">
	    <h2>Meet the team!</h2> <h4>Who knew that apps could make you so happy..</h4>
	    </div>
			<div class="team-image"><img src="images/meditel-team.jpg" /></div>	
			<div class="person">
				<h2>Katie Gibbard</h2>
				<h4>Product Design Engineer</h4>     
			</div>
	    <div class="person">
				<h2>Julian Carstairs</h2>
				<h4>Developer/Designer</h4>    
			</div>
			<div class="person">
		    <h2>Duncan MacKenzie</h2>
				<h4>Developer/Designer</h4>     
			</div>
			<div class="person" style="margin-bottom:40px;">
		    <h2>Edwin Senjobe</h2> 
				<h4>CRM Consultant</h4>     
			</div>
		</div>
</div>
	